{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block body %}
    <body class="hold-transition register-page" data-gr-c-s-loaded="true">
    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <div class="register-box">
        <div class="register-logo">
            <a href="#">Area do Sócio</a>
        </div>
    </div>
    <div class="container well">
        <div class="row">
            <form action="" method="post" id="form" data-parsley-validate>{% csrf_token %}
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Nome</label>
                            {{ form.nome }}
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Sobrenome</label>
                            {{ form.sobrenome }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Categoria Desejada</label>
                            {{ form.categoria }}
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Data Nascimento</label>
                            {{ form.data_nascimento }}
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label>CEP</label>
                            {{ form.cep }}
                        </div>

                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-8 form-group">
                            <label>Address</label>
                            {{ form.rua }}
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Numero</label>
                            {{ form.numero }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label>Bairro</label>
                            {{ form.bairro }}
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Cidade</label>
                            {{ form.cidade }}
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Estado</label>
                            {{ form.estado }}
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Título</label>
                            {{ form.titulo }}
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Area de Pesquisa</label>
                            {{ form.area }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Departamento</label>
                            {{ form.departamento }}
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Universidade</label>
                            {{ form.universidade }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label>Principais Atividades e Prêmios</label>
                            {{ form.descricao }}
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label>Email</label>
                            {{ form.email }}
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Senha</label>
                            {{ form.senha }}
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Confirmar Senha</label>
                            {{ form.retype_senha }}
                        </div>
                    </div>
                    <button type="button" class="btn btn-lg btn-info submit">Registrar</button>
                </div>
            </form>
            <br/>

        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-12">
                <a href="/login" class="text-center">Se você já for Sócio, clique aqui.</a>
            </div>

        </div>
    </div>
    {% include 'scripts.html' %}
    <script>
        $(document).ready(function () {

            $('input, select, textarea').attr('style', 'text-transform:uppercase');


            $('[name=email], [name=senha], [name=retype_senha]').attr('style', 'text-transform:lowercase');
            $('.submit').attr('disabled', true);
            $('[name=senha], [name=retype_senha]').on('change focusout keyup', function () {
                var p = $('[name=senha]').val();
                var rp = $('[name=retype_senha]').val();
                if (p != rp) {
                    $('.submit').attr('disabled', true);
                } else {
                    $('.submit').attr('disabled', false);
                }
            });
        });
    </script>
    {% include 'loading.html' %}

    <!-- /.register-box -->
    </body>
{% endblock %}